name: Test action

on:
  push:

jobs:
  download:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: ./.github/actions/download
        with:
          branch: test/foo
          sitemap-urls: |
            https://www.google.com/gmail/sitemap.xml
          cross-repo-token: ${{ secrets.CROSS_REPO_POSTER }}
          issue-title: CloudFormation docs is updated
